@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: 'Madimi One', Helvetica, sans-serif;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: #242424;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;  /* Firefox */
}

:-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: underline;
}

p, ul {
  margin-top: 12pt;
}

ul {
  font-size: 0.4em;
  line-height: 95%;
  width: 90%;
  margin-left: 5%;
}

li {
  margin-top: 2pt;
}