.s5-episode-card {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 18px;
  line-height: 1.0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.s5-episode-image {
  max-width: 90%;
  height: auto;
  margin-bottom: 20px;
  margin-right: 0px;
}

.s5-episode-card h1 {
  font-size: 30px;
  line-height: 1.0;
}

@media (min-width: 768px) {
  .s5-episode-card h1 {
    font-size: 42px;
  }

  .s5-episode-card div {
    font-size: 28px;
  }

  .s5-episode-card {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .s5-episode-image {
    max-width: 50%;
    margin-bottom: 0;
    margin-right: 20px;
  }

  .s5-logo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}