.ticker-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  bottom: 0;
}

.ticker-text {
  display: inline-block;
  padding-left: 100%;
  padding-right: 100%;
  animation: ticker 120s linear infinite;
  color: black;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  letter-spacing: -0.15rem;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

ul {
  display: none;
}

.dense-text {
  line-height: 1.0 !important;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.text-container {
  width: 100%;
  height: 50%;
  padding: 1rem 1rem 1rem 5rem;
  justify-content: end;
}

.image-container {
  align-self: end;
  width: 90%;
  position: absolute;
  bottom: 0;
}

.s5-title-logotype {
  position: absolute;
  transform: translateY(350%) rotate(270deg);
  transform-origin: left top;
  top: 50%;
  left: 0px;
  width: 650px;
}

@media(min-width: 768px) {
  .page-container {
    flex-direction: row;
  }

  .text-container {
    width: 50%;
    height: 100%;
    margin-left: 8%;
    margin-bottom: 3rem;
    margin-right: 1rem;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .image-container {
    width: 50%;
    height: 100%;
    position: relative;
  }

  .image-shrink-prevention {
    overflow: auto;
  }

  .s5-title-logotype {
    position: absolute;
    bottom: 5%;
    left: 3%;
    top: auto;
    max-width: 80%;
    transform: none;
    width: auto;
  }
}