@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=IBM+Plex+Serif&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: 'Madimi One', Helvetica, sans-serif;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: #242424;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  /* Firefox */
}

:-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: underline;
}

p,
ul {
  margin-top: 12pt;
}

ul {
  font-size: 0.4em;
  line-height: 95%;
  margin-left: 15%;
  margin-right: 15%;
}

@media (orientation: portrait) {
  ul {
    margin-left: -5%;
    margin-right: -5%;
  }
}

li {
  margin-top: 2pt;
}