@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: 'Madimi One', Helvetica, sans-serif;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: #242424;
  text-shadow: 1px 1px 2px black;
}

a {
  text-decoration: underline;
}

p, ul {
  margin-top: 12pt;
}

ul {
  font-size: 0.4em;
  line-height: 95%;
  width: 75%;
  margin-left: 12.5%;
}

li {
  margin-top: 2pt;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
